<div class="container">
<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :class => "form-control", :placeholder => "Thomas" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :class => "form-control", :placeholder => "Anderson" %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_area :email, :class => "form-control", :type => "email", :placeholder => "name@example.com" %>
  </div>

  <div class="field form-group">
    <%= form.label :slogan %>
    <%= form.text_area :slogan, :class => "form-control" %>
  </div>

<div class="actions">
  <%= form.submit :class => "btn btn-dark" %>
</div>
<% end %>
</div>
